*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,Helvetica,sans-serif;
}

body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(135deg,#ff5f9e,#d633ff);

overflow:hidden;

}

.container{

background:rgba(255,255,255,.18);

backdrop-filter:blur(18px);

padding:40px;

border-radius:30px;

width:90%;

max-width:420px;

text-align:center;

box-shadow:0 15px 40px rgba(0,0,0,.25);

color:white;

animation:fade 1s ease;

}

h1{

font-size:70px;

margin-bottom:20px;

}

h2{

font-size:32px;

margin-bottom:15px;

}

p{

font-size:18px;

line-height:1.6;

margin-bottom:30px;

}

button{

background:white;

color:#ff2b8a;

padding:18px 45px;

border:none;

border-radius:100px;

font-size:20px;

font-weight:bold;

cursor:pointer;

transition:.3s;

}

button:hover{

transform:scale(1.08);

}

@keyframes fade{

from{

opacity:0;

transform:translateY(40px);

}

to{

opacity:1;

transform:translateY(0);

}

}
